//variables
$color-lightBlue: #C7F7FF;
$color-medBlue: #89C0C9;
$color-darkBlue: #3a5e63;
$color-lightBrown: #c9a689;
$color-darkBrown: #7c593c;
$color-lightGrey: #d4d4d4;
$color-darkGrey: #222;
$color-white: #fff;

$font-sans-serif: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$font-serif: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; /* serif for the headings */
